{% extends 'layout/admin.html' %}
{% load urlstags %}

{% block left_subheader %}
<h3 class="kt-subheader__title">Customer Service</h3>
{% include 'components/search_list.html' %}
{% endblock left_subheader %}

{% block right_subheader %}
<a href="{% url 'customer_service:manage_create_account' %}" class="btn btn-icon" data-toggle="kt-tooltip"
    data-placement="left"
    data-original-title="New Customer Service">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
        viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--success kt-svg-icon--md">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
            <path
                d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z"
                id="Combined-Shape" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
            <path
                d="M11,14 L9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 L11,12 L11,10 C11,9.44771525 11.4477153,9 12,9 C12.5522847,9 13,9.44771525 13,10 L13,12 L15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 L13,14 L13,16 C13,16.5522847 12.5522847,17 12,17 C11.4477153,17 11,16.5522847 11,16 L11,14 Z"
                id="Combined-Shape" fill="#000000"></path>
        </g>
    </svg>
</a>
{% endblock right_subheader %}

{% block content %}
<div class="kt-portlet kt-portlet--tabs">
    <div class="kt-portlet__body">
        <div class="kt-section">
            <div class="kt-section__content">
                {% if object_list %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Avatar</th>
                            <th>Full Name</th>
                            <th>Gender</th>
                            <th>Branch</th>
                            <th>Created</th>
                            <th>Updated</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in object_list %}
                        <tr class="kt-pointer"
                            onclick="window.location='{% url 'customer_service:profile_overview' object.pk %}';">
                            <td class="kt-td-ver-alig-mid kt-image-td">
                                <div class="kt-user-card-v2">
                                    <div class="kt-user-card-v2__pic">
                                        <div class="kt-badge kt-badge--xl">
                                            {% if object.image %}
                                            <div class="kt-user-card-v2">
                                                <div class="kt-user-card-v2__pic">
                                                    <div class="kt-badge kt-badge--xl">
                                                        <img src="{{object.image.url}}" alt="{{object.full_name}}">
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="kt-td-ver-alig-mid">{{object.full_name}}</td>
                            <td class="kt-td-ver-alig-mid">{{object.get_gender_display}}</td>
                            <td class="kt-td-ver-alig-mid">{{object.branch.name}}</td>
                            <td class="kt-td-ver-alig-mid">{{object.created|date}}</td>
                            <td class="kt-td-ver-alig-mid">{{object.updated|timesince}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                {% include 'components/empty_list.html' %}
                {% endif %}
            </div>
        </div>
        {% include 'components/pagination.html' %}
    </div>
</div>
{% endblock content %}