{% extends 'customer_service/profile/layout.html' %}
{% load widget_tweaks %}
{% load static %}

{% block profile_content %}
<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">Cutomize Departments<small>Assign more departments to customer service</small></h3>
        </div>
       
    </div>
    <form class="kt-form kt-form--label-right" method="post" id="department_form">
        {% csrf_token %}
        <div class="kt-portlet__body">
            {% if form.department.errors %}
            <div class="alert alert-solid-danger alert-bold fade show kt-margin-t-20 kt-margin-b-40"
                role="alert">
                <div class="alert-icon"><i class="flaticon-warning kt-font-danger"></i></div>
                <div class="alert-text">You must select at lest one department</div>
            </div>
            {% endif %}
            <div class="kt-section kt-section--first">
                <div class="kt-section__body">
                    <div class="form-group">
                        <label class="col-form-label alert-bold">Departments</label>
                        <div class="row">
                            {% for input in form.department %}
                            <div class="col-6">
                                <label class="kt-checkbox">
                                    {{ input.tag }} {{input.choice_label}}
                                    <span></span>
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet__foot">
            <div class="kt-form__actions">
                <div class="row">
                    <div class="col-lg-3 col-xl-3">
                    </div>
                    <div class="col-lg-9 col-xl-9">
                        <div class="col-lg-9 col-xl-9">
                            <button type="submit" disabled="disabled" class="btn btn-success" id="submit_btn">Submit</button>&nbsp;
                            <button type="reset" class="btn btn-secondary">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock profile_content %}


{% block scripts %}

<script src="{% static 'vendors/jquery-form/dist/jquery.form.min.js' %}"></script> 
<script type="text/javascript">
       $("#department_form :input").change(function() {
            $('#submit_btn').removeAttr('disabled');
       });
</script>

{% endblock scripts %}
