{% extends 'customer_service/profile/layout.html' %}
{% load widget_tweaks %}

{% block profile_content %}
<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">Change Password<small>change or reset your account password</small></h3>
        </div>
       
    </div>
    <form class="kt-form kt-form--label-right" method="post">
        {% csrf_token %}
        <div class="kt-portlet__body">
            <div class="kt-section kt-section--first">
                <div class="kt-section__body">
                    <div class="alert alert-solid-danger alert-bold fade show kt-margin-t-20 kt-margin-b-40" role="alert">
                        <div class="alert-icon"><i class="flaticon-warning kt-font-danger"></i></div>
                        <div class="alert-text">
                        {{form.new_password1.help_text}}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">Current Password</label>
                        <div class="col-lg-9 col-xl-6">
                            {{form.old_password|add_class:'form-control'|add_error_class:"is-invalid"}}
                            {% for error in form.old_password.errors %}
                            <div class="invalid-feedback">{{error}}</div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">New Password</label>
                        <div class="col-lg-9 col-xl-6">
                            {{form.new_password1|add_class:'form-control'|add_error_class:"is-invalid"}}
                            {% for error in form.new_password1.errors %}
                            <div class="invalid-feedback">{{error}}</div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group form-group-last row">
                        <label class="col-xl-3 col-lg-3 col-form-label">Verify Password</label>
                        <div class="col-lg-9 col-xl-6">
                            {{form.new_password2|add_class:'form-control'|add_error_class:"is-invalid"}}
                            {% for error in form.new_password2.errors %}
                            <div class="invalid-feedback">{{error}}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet__foot">
            <div class="kt-form__actions">
                <div class="row">
                    <div class="col-lg-3 col-xl-3">
                    </div>
                    <div class="col-lg-9 col-xl-9">
                        <button type="submit" class="btn btn-success btn-bold">Change
                            Password</button>&nbsp;
                        <button type="reset" class="btn btn-secondary">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock profile_content %}